.Arrow__container {
  height: 70px;

  @media (max-width: 360px) {
    height: 30px;
  }

  &:hover {
    cursor: pointer;
  }
}
.Arrow {
  display: block;
  position: absolute;
  z-index: 10;
  bottom: 5vh;
  left: 0;
  width: 100vw;
  text-align: center;
  animation: bounce 1s;
  animation-direction: alternate;
  animation-iteration-count: infinite;
  @media (max-width: 360px) {
    bottom: 2vh;
    animation: bounceMini 1s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
  }
}

@keyframes bounce {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(50px);
  }
}

@keyframes bounceMini {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(25px);
  }
}
