@import "../variables.scss";

.LandingPage {
  position: relative;
  height: 100vh;
  width: 100vw;
  font-family: $base-font;
  display: flex;
  align-items: center;

  h1 {
    font-size: 5em;
    margin-left: 5vw;
  }

  span {
    display: block;
    position: absolute;
    z-index: 10;
    bottom: 5vh;
    width: 100vw;
    animation: bounce 1s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
  }
}

@keyframes bounce {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(50px);
  }
}
