@import "../../Assets/variables.scss";

.Projects {
  position: absolute;
  top: 0;
  z-index: 1000;
  width: 100vw;
  margin-top: 100vh;
  transform: translate(150%);
  display: flex;
  flex-direction: column;
  align-items: center;
  transition-duration: 1.2s;
  background: #0b0c10;

  .Projects__nav {
    position: fixed;
    top: 0;
    z-index: 10000;
    a {
      color: #66fcf1;
    }
  }

  button {
    color: #66fcf1;
    background: none;
    border: none;
    font-size: 2em;
    width: 2em;
    position: absolute;
    z-index: 10;
    top: 10vh;
    right: 2vw;

    &:hover {
      cursor: pointer;
    }
  }

  h1 {
    font-family: $h1-font;
    font-size: 3em;
    color: white;
  }
}

.displayProjects {
  transform: translate(0);
}
