@import url("https://fonts.googleapis.com/css2?family=Miniver&family=Quicksand&family=Work+Sans&family=Yantramanav&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@700&display=swap");

$base-font: "Quicksand", sans-serif;
$h2-font: "Roboto Condensed", sans-serif;
$h1-font: "Roboto Condensed", sans-serif; ;
