@import "../../Assets/variables.scss";

nav {
  position: fixed;
  top: 0;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  width: 100vw;
  padding: 2vh 5vw;
  font-family: $base-font;
  font-size: 1.5em;
  color: white;

  a {
    text-decoration: none;
    color: white;
    margin: 0 1em;
    font-size: 1.5em;
    @media (max-width: 767.98px) {
      font-size: 1.2em;
    }

    &,
    & + div {
      transition-duration: 0.3s;
    }

    &:hover {
      cursor: pointer;
      transform: translateY(-5px);

      & + div {
        background-color: red;
      }
    }
  }
  .displayProjectsTrue {
    color: #66fcf1;
  }

  .border {
    height: 5px;
    width: 100%;
    background-color: none;
  }

  ul {
    list-style: none;
    display: flex;

    li {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }

  .menu {
    @media (max-width: 575.98px) {
      display: none;
    }
  }

  .github__logo {
    @media (max-width: 575.98px) {
      position: absolute;
      bottom: -90vh;
      left: 10px;
    }
    @media (max-width: 360px) {
      bottom: -93vh;
      left: 5px;
    }

    span {
      @media (max-width: 360px) {
        display: none;
      }
    }
  }

  .side-menu.hidden {
    transform: translate(100%);
  }

  .side-menu {
    display: flex;
    align-items: center;
    justify-content: space-around;
    list-style: none;
    height: 100vh;
    width: 100vw;
    position: absolute;
    top: 0px;
    right: 0px;
    background: rgb(0, 0, 0);
    color: white;
    transition-duration: 0.5s;
    transition-delay: 0.2s;
    line-height: 1.5em;
    ul {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      height: 60vh;
    }
  }
}
